/* index.css */
@import url('./styles/variables.css'); /* Importa variáveis antes de tudo */
@import url('./styles/utilities.css'); /* Estilos comuns globais */

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
}
